/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  background-color: blueviolet;
} */
/* .border{
  width: 400px;
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background: #7f92e759;
}
.button{
  background-color: cornflowerblue;
  width: 100%;
  padding: 9px;
  border: none;
  color: #fff;
  border-radius: 6px;
}
.firstdiv{
  margin-top: 10%;
}
#input{
  padding: 5px;
  border-radius: 6px;
  border: none;
}
body{
  text-align: center;
  height: 100%;background:#fff;
}
.seconddiv{
  position: relative; 
}
.buttonrow
{
  display: grid;
}
#signup{
  position: relative; bottom: 24px;
} */
.App{
  margin-top: 200px;
}
.display{
  background-color: grey;
  padding: 5px;
  text-align: center;
  margin: 25px;
  color: darkslategray;
  font-weight: bold;
  font-size: 25px;
  font-family: serif;
  color:darkslateblue;
  width: 50%;
  margin-left: 400px;
}
h1{
  text-align: center;
  font-family: sans-serif;
  color:firebrick;
}
h3{
  text-align: center;
  color: darkgreen;
}
